.accordion {
  position: relative;

  @include vp-767 {
    cursor: pointer;
    align-items: center;
  }
}

.accordion__toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 270px;
    height: 61px;
    padding: 0;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 48%;
      right: 0;
      width: 15px;
      height: 1px;
      background-color: $color-silver-sand;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.accordion__toggle.is-open {
  @include vp-767 {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.accordion__toggle.no-js {
  &::before,
  &::after {
    display: none;
  }
}

.accordion__body {
  @include vp-767 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
}

.accordion__body.no-js {
  @include vp-767 {
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.accordion h2 {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  pointer-events: none;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 20px;
  padding: 0;

  @include vp-767 {
    margin-top: 22px;
    margin-right: 152px;
  }
}

.accordion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion li {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion a {
  text-decoration: none;
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $color-white-07;
  pointer-events: none;
}
