.advantages__wrapper {
  max-width: 1280px;
  margin: 0 auto;

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.advantages ul {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 300px);
  list-style: none;
  margin-top: 121px;
  margin-bottom: 120px;
  padding: 0;
  padding-left: 30px;
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(2, 360px);
    margin-top: 80px;
    margin-bottom: 75px;
    padding-left: 50px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: 340px 340px 325px 325px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
  }
}

.advantages {
  h3 {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: $color-deep-sky-blue;
    margin: 0;
    margin-bottom: 15px;

    @include vp-1023 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }

  p {
    display: block;
    max-width: 480px;
    font-family: $ff-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: $color-black-pearl;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
    }
  }

  svg {
    fill: $color-deep-sky-blue;
    margin-bottom: 13px;

    @include vp-1023 {
      margin-bottom: 8px;
    }

    @include vp-767 {
      width: 30px;
      height: 30px;
    }
  }
}

.advantages__item {
  min-width: 594px;
  min-height: 300px;
  padding: 40px 42px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;

    svg {
      fill: $color-alice-blue;
    }

    h3,
    p {
      color: $color-alice-blue;
    }
  }

  &--current {
    background-color: $color-deep-sky-blue;

    svg {
      fill: $color-alice-blue;
    }

    h3,
    p {
      color: $color-alice-blue;
    }

    &:hover,
    &:focus {
      background-color: $color-default-white;

      svg {
        fill: $color-deep-sky-blue;
      }

      h3 {
        color: $color-deep-sky-blue;
      }

      p {
        color: $color-black-pearl;
      }
    }
  }

  @include vp-1023 {
    min-width: 321px;
    min-height: 360px;
  }

  @include vp-767 {
    min-width: 270px;
    min-height: 100%;
    padding: 30px 26px;
  }
}
