.agreement {
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-template-rows: auto;
  column-gap: 12px;
  row-gap: 1px;
  align-items: center;
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
}

.agreement input {
  appearance: none;
  display: block;
  min-width: 17px;
  min-height: 17px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.agreement input[type="checkbox"]:checked {
  background-image: url("../../img/svg/icon-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.agreement .input-message {
  &.is-invalid {
    color: $color-default-black;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}
