.card {
  position: relative;
  min-height: 100%;

  &:hover {
    opacity: 0.5;
  }

  @include vp-1023 {
    min-height: 250px;
  }

  @include vp-767 {
    min-width: 270;
  }
}

.card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  min-height: 648px;
  padding-top: 45px;
  padding-left: 40px;
  padding-bottom: 10px;


  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    background-image: url("../../img/svg/icon-more.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5px 10px;
    border: none;
    padding: 0;
    border-radius: 3px 0 0 0;
    cursor: pointer;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  @include vp-1023 {
    min-height: 100%;
    padding-top: 35px;
    padding-left: 46px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-left: 30px;
  }
}

.card h3 {
  display: block;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $color-default-white;
  margin: 0;
  padding: 0;
  max-width: 170px;
  min-height: 55px;
  z-index: 2;

  @include vp-1023 {
    max-width: 150px;
  }

  @include vp-767 {
    max-width: 135px;
    font-size: 18px;
    line-height: 167%;
  }
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}
