.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
  font-family: $ff-roboto;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 30px 140px;

  @include vp-1023 {
    min-width: 768px;
    padding: 38px 50px 74px;
  }

  @include vp-767 {
    min-width: 320px;
    padding: 28px 25px 87px;
  }
}

.catalog__title span {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-right: auto;
  margin-bottom: 50px;

  &:first-child {
    @include vp-767 {
      display: none;
    }
  }

  &:last-child {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  @include vp-1023 {
    margin-bottom: 36px;
    letter-spacing: -0.01em;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    max-width: 200px;
    margin-bottom: 5px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 85px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding-top: 17px;
    column-gap: 0;
    row-gap: 30px;
  }

  @include vp-767 {
    padding-top: 5px;
  }
}
