.feedback {
  position: relative;
  background: $background-deep-sky-blue;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50.55%;
    height: 100%;
    background: $color-black-pearl-05;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: -1;

    @include vp-1023 {
      display: none;
    }
  }
}

.feedback__wrapper {
  max-width: 1280px;
  min-height: 840px;
  margin: 0 auto;
  padding-top: 165px;
  display: grid;
  grid-template-columns: 1fr 630px;
  gap: 70px;

  @include vp-1023 {
    min-width: 770px;
    min-height: 580px;
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 0;
  }

  @include vp-767 {
    justify-content: center;
    min-width: 320px;
    min-height: 750px;
    padding: 48px 25px;
    gap: 0;
  }
}

.feedback img {
  padding-top: 80px;
  margin-left: auto;
  margin-right: 41px;
  z-index: 120;

  @include vp-1023 {
    display: none;
  }
}

.feedback__content {
  padding-left: 5px;

  @include vp-767 {
    width: 100%;
  }
}

.feedback h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    max-width: 270px;
  }
}

.feedback p {
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  word-spacing: 2px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 34px;
  margin-left: 5px;
  padding: 0;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 19px;
    max-width: 200px;
  }
}

.feedback__form form {
  display: grid;
  grid-template-columns: repeat(2, 275px);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 20px;
  margin-left: 5px;

  @include vp-1023 {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    margin-left: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    min-width: 270px;
  }
}

.feedback__question {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.feedback__form textarea {
  margin-bottom: 5px;

  @include vp-1023 {
    margin-bottom: 0;
  }
}

.feedback__form button {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  max-width: 265px;

  @include vp-767 {
    width: 100%;
  }
}

.feedback__agreement {
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 10px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  @include vp-1023 {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 15px;
  }

  @include vp-767 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 0;
    padding-bottom: 5px;
  }
}

.feedback__agreement input {
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 0;

  @include vp-1023 {
    margin-right: 10px;
  }
}

.feedback__agreement label {
  letter-spacing: 0.02em;
  word-spacing: 2px;
}
