.form {
  display: grid;
  grid-template-columns: repeat(2, 275px);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 20px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 320px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    max-width: 270px;
  }
}

.form input[type="text"],
.form input[type="tel"],
.form__button,
.form input[type="checkbox"] {
  grid-column: span 1;
}

.form input[type="text"],
.form input[type="tel"],
.form textarea {
  display: block;
  width: 100%;
  min-height: 50px;
  border: none;
  border-radius: 3px;
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background-image: $background-deep-sky-blue;
  background-color: rgba(4, 20, 39, 0.15);
  padding: 15px;

  &::placeholder {
    font-family: $ff-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:disabled {
    cursor: none;
    background-color: transparent;
    opacity: 0.7;
  }
}

.form textarea {
  grid-column: span 2;
  min-height: 155px;
  padding-top: 25px;
  margin-bottom: 35px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.form button {
  display: block;
  min-width: 265px;
  min-height: 45px;
  padding: 0;
  background: $color-black-pearl;
  border: none;
  border-radius: 3px;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.form__agreement {
  align-self: center;
  position: relative;
}

.form__agreement label {
  position: absolute;
}

.form__agreement span {
  position: relative;
  display: block;
  min-width: 250px;
  margin-top: -7px;
  padding-right: 10px;
  padding-left: 35px;
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 45%;
    left: 10px;
    transform: translateY(-50%);
    border: 1px solid $color-default-white;
    border-radius: 2px;
  }
}

.form__agreement input[type="checkbox"]:checked + span::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 43%;
  left: 13px;
  transform: translateY(-50%);
  background-image: url("../../img/svg/icon-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
}
