.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: $black-pearl-to-bottom;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  min-width: 1440px;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-right: 410px;
  padding-left: 350px;

  @include vp-1919 {
    min-width: 1440px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @include vp-1439 {
    min-width: 1024px;
    padding-right: 50px;
    padding-left: 60px;
  }

  @include vp-1023 {
    padding: 20px 50px 25px 50px;
    min-width: 770px;
    min-height: 100px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 70px;
    padding: 12px 26px 20px;
  }
}

.header__logo {
  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__button {
  display: block;
  min-width: 160px;
  height: 40px;
  padding: 10px 15px;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;

  @include vp-1023 {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
