.intro {
  position: relative;
  min-height: 880px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 305px;
  padding-bottom: 280px;

  @include vp-1023 {
    min-height: 640px;
    padding-top: 180px;
    padding-bottom: 160px;
  }

  @include vp-767 {
    min-height: 560px;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: $background-black-pearl-to-bottom;
    width: 100%;
    min-height: 100%;
  }
}

.intro__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 320px;
  max-width: 790px;
  margin: 0 auto;
  padding: 0 60px;
  z-index: 5;
  left: -30px;

  @include vp-1023 {
    left: 0;
    min-height: 300px;
  }

  @include vp-767 {
    max-width: 270px;
    min-height: 270px;
    padding: 0;
  }
}

.intro__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-bottom: 0;
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

.intro__text {
  display: inline-block;
  margin: 0;
  margin-bottom: 47px;
  max-width: 600px;
  font-family: $ff-mono;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-bottom: 57px;
  }

  @include vp-767 {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 45px;
  }
}

.intro__button {
  display: block;
  min-width: 410px;
  min-height: 55px;
  text-decoration: none;
  border-radius: 3px;
  background: $color-deep-sky-blue;
  text-align: center;
  padding: 15px 0;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include vp-1023 {
    margin-left: 43px;
  }

  @include vp-767 {
    min-width: 270px;
    min-height: 40px;
    margin-left: 0;
    padding: 10px 0;
  }
}

.intro__button-text {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;

  &--full {
    @include vp-767 {
      display: none;
    }
  }

  &--short {
    display: none;

    @include vp-767 {
      display: block;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.intro__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: $color-black-pearl-015;
}
