.office {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  @include vp-1023 {
    padding-left: 17px;
  }

  @include vp-767 {
    min-width: 270px;
    padding-top: 2px;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.office__wrapper {
  padding-left: 0;

  @include vp-767 {
    min-width: 270px;
    margin-right: 0;
    padding: 0 25px;
  }
}

.office__wrapper ul {
  @include vp-767 {
    margin-bottom: 13px;
  }
}

.office a {
  letter-spacing: 0.02em;
  word-spacing: 6px;
  line-height: 156%;

  &:first-child {
    line-height: 135%;
  }
}
