.request-call__button {
  display: block;
  text-align: center;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;
}
